<div class="float-right d-none d-sm-block"><b>Version</b> {{ appVersion }}</div>
<strong>
  <span class="created-by">
    Created by
    <a
      href="https://github.com/gbarre/"
      target="_blank"
      rel="noopener noreferrer"
      style="margin: 0">
      Guillaume Barré
    </a>
    2022.
  </span>
</strong>
<span>
  <a
    href="https://github.com/gbarre/"
    target="_blank"
    class="ion ion-social-github"
    style="margin-left: 10px"></a>
  <a
    href="https://twitter.com/g__barre"
    target="_blank"
    class="ion ion-social-twitter"
    style="margin-left: 10px"></a>
  <a
    href="https://www.linkedin.com/in/barre-guillaume-75297ab1/"
    target="_blank"
    class="ion ion-social-linkedin"
    style="margin-left: 10px"></a>
</span>
