<app-dropdown class="user-menu">
  <ng-container dropdown-button>
    <i class="fas fa-xl fa-user elevation-2 user-image"></i>
  </ng-container>
  <ng-container dropdown-menu>
    <li class="user-header bg-primary position-relative">
      <i class="fas fa-5x fa-user mt-3"></i>
      <div class="ribbon-wrapper ribbon-xl">
        <div class="ribbon bg-success text-lg">
          {{ role }}
        </div>
      </div>
      <p *ngIf="currentUser !== undefined">
        <span>{{ currentUser['username'] }}</span>
        <small
          >{{ currentUser['firstName'] }} {{ currentUser['lastName'] }}</small
        >
      </p>
    </li>
    <!-- Menu Body -->
    <li class="user-body">
      <div class="row">
        <div class="col-4 text-center">
          <a [routerLink]="['/']">Followers</a>
        </div>
        <div class="col-4 text-center">
          <a [routerLink]="['/']">Sales</a>
        </div>
        <div class="col-4 text-center">
          <a [routerLink]="['/']">Friends</a>
        </div>
      </div>
      <!-- /.row -->
    </li>
    <!-- Menu Footer-->
    <li class="user-footer">
      <!-- <a [routerLink]="['/profile']" class="btn btn-default btn-flat">
                Profile
            </a> -->
      <a (click)="logout()" class="btn btn-default btn-flat float-right"
        >Sign out</a
      >
    </li>
  </ng-container>
</app-dropdown>
